03_meals_app/android/
03_meals_app/build/
03_meals_app/.dart_tool/
03_meals_app/.idea
03_meals_app/pubspec.lock
03_meals_app/.metadata
03_meals_app/my_app.iml
03_meals_app/.packages

04_shop/android/
04_shop/ios/
04_shop/build/
04_shop/test/
04_shop/web/
04_shop/.dart_tool/
04_shop/.idea
04_shop/pubspec.lock
04_shop/.metadata
04_shop/my_app.iml
04_shop/.packages

05_places/android/
05_places/ios/
05_places/build/
05_places/test/
05_places/web/
05_places/.dart_tool/
05_places/.idea
05_places/pubspec.lock
05_places/.metadata
05_places/my_app.iml
05_places/.packages
